body {
  background: linear-gradient(to bottom, #a8e6ff, #faefd7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.btn-add {
  background-color: rgb(123, 66, 237);
  margin-left: 10px;
  color: white;
}

.btn-clear {
  margin-top: 20px;
  background-color: rgb(123, 66, 237);
  color: white;
}

.styleinput {
  background: linear-gradient(to bottom, rgb(235, 125, 36), rgb(125, 81, 207));
  padding: 15px;
  color: white;
  border-radius: 5px;
  cursor: pointer;  
  margin-bottom: 15px;
}
